In [1]:
student_name = "Sheza"

In [4]:
student_name = "Sheza"
print(student_name)

Sheza

In [5]:
Student_Name = "Sheza"
Student_Fathers_Name = "Shams-ul-Islam"
Batch = "04"
Age = 31
Date_of_Admission = "2022-01-16"
University_Name = "NEDUET"
Class_Timing = "5:15 to 7:15"

student_card = '''
Student Name= _______
Student Fathers Name = ________
Batch = _______
Age = ________
Date_of_Admission = ___________
University_Name = _______________
Class_Timing = _____________
'''
printStudent_Name = "Sheza"
Student_Fathers_Name = "Shams-ul-Islam"
Batch = "04"
Age = 31
Date_of_Admission = "2022-01-16"
University_Name = "NEDUET"
Class_Timing = "5:15 to 7:15"

student_card = '''
Student Name= _______
Student Fathers Name = ________
Batch = _______
Age = ________
Date_of_Admission = ___________
University_Name = _______________
Class_Timing = _____________
'''
print(student_card)

Student Name= _______
Student Fathers Name = ________
Batch = _______
Age = ________
Date_of_Admission = ___________
University_Name = _______________
Class_Timing = _____________

In [15]:
Student_Name = "Sheza"
Student_Fathers_Name = "Shams-ul-Islam"
Batch = "04"
Age = 31
Date_of_Admission = "2022-01-16"
University_Name = "NEDUET"
Class_Timing = "5:15 to 7:15"

card ="""
Student Name: """+str(Student_Name)+"""
Student Fathers Name : """+str(Student_Fathers_Name)+"""
Batch : """+str(Batch)+"""
Age : """+str(Age)+"""
Date_of_Admission : """+str(Date_of_Admission)+"""
University_Name : """+str(University_Name)+"""
Class_Timing : """+str(Class_Timing)+"""
"""
print(card)

Student Name: Sheza
Student Fathers Name : Shams-ul-Islam
Batch : 04
Age : 31
Date_of_Admission : 2022-01-16
University_Name : NEDUET
Class_Timing : 5:15 to 7:15

# Using .format (sequence wise)

In [16]:
Student_Name = "Sheza"
Student_Fathers_Name = "Shams-ul-Islam"
Batch = "04"
Age = 31
Date_of_Admission = "2022-01-16"
University_Name = "NEDUET"
Class_Timing = "5:15 to 7:15"

card = """
Student Name= {}
Student Fathers Name = {}
Batch = {}
Age = {}
Date_of_Admission = {} University_Name = {}
Class_Timing = {}
""".format(Student_Name,Student_Fathers_Name,Batch,Age,Date_of_Admission,University_Name,Class_Timing)

print(card)

Student Name= Sheza
Student Fathers Name = Shams-ul-Islam
Batch = 04
Age = 31
Date_of_Admission = 2022-01-16 University_Name = NEDUET
Class_Timing = 5:15 to 7:15

# f"paksitan{Variable_Name}""

In [17]:
Student_Name = "Sheza"
Student_Fathers_Name = "Shams-ul-Islam"
Batch = "04"
Age = 31
Date_of_Admission = "2022-01-16"
University_Name = "NEDUET"
Class_Timing = "5:15 to 7:15"

card = f"""
Student Name= {Student_Name}
Student Fathers Name = {Student_Fathers_Name}
Batch = {Batch}
Age = {Age}
Date_of_Admission = {Date_of_Admission} University_Name = {University_Name}
Class_Timing = {Class_Timing}
"""
print(card)

Student Name= Sheza
Student Fathers Name = Shams-ul-Islam
Batch = 04
Age = 31
Date_of_Admission = 2022-01-16 University_Name = NEDUET
Class_Timing = 5:15 to 7:15

# OLD METHOD  FOR FORMATION TEXT

In [19]:
"Student Name %s" % (student_name)

'Student Name Sheza'

In [21]:
Student_Name = "Sheza"
Student_Fathers_Name = "Shams-ul-Islam"
Batch = "04"
Age = 31
Date_of_Admission = "2022-01-16"
University_Name = "NEDUET"
Class_Timing = "5:15 to 7:15"

card = """
Student Name= %s
Student Fathers Name = %s
Batch = %s
Age = %d
Date_of_Admission = %s University_Name = %s
Class_Timing = %s
""" % (Student_Name,Student_Fathers_Name,Batch,Age,Date_of_Admission,University_Name,Class_Timing)

print(card)

Student Name= Sheza
Student Fathers Name = Shams-ul-Islam
Batch = 04
Age = 31
Date_of_Admission = 2022-01-16 University_Name = NEDUET
Class_Timing = 5:15 to 7:15

# METHOD LIST OF DATA TYPE

In [22]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [26]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [27]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [25]:
a = "Sheza Shams"
print (a)

Sheza Shams

In [28]:
a = "Sheza Shams"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [29]:
a = "Pakistan ZindaBad" #it will do sentence case
print (a.capitalize())

Pakistan zindabad

In [30]:
a = "Pakistan ZindaBad" #all small letters
print(a.casefold())

pakistan zindabad

In [33]:
a = "Pakistan ZindaBad" # after 75 spaces it will be placed
print(a.center(75))

                             Pakistan ZindaBad

In [40]:
a = "Pakistan ZindaBad" #this will count how many letters in the sentence
print(a.count("a"))
print(a.count("i"))

4
2

In [62]:
a = "Pakistan ZindaBad"
print(a.encode("cp1252"))

b'Pakistan ZindaBad'

In [45]:
a = "Pakistan ZindaBad" # it shows whether statement true/false
print(a.endswith("s"))
print(a.endswith("d"))

False
True

In [66]:
a ='''
\t "Pakistan ZindaBAd"''' 
print(a.expandtabs(5))
print(a.expandtabs(35))

      "Pakistan ZindaBAd"

                                    "Pakistan ZindaBAd"

In [55]:
a = "Pakistan ZindaBAd" # find the index of letter in the sentence
print(a.find("B"))
print(a.find("P"))

14
0

In [91]:
a = "Pakistan ZindaBad"
b = "I love my Country"
card =f'''
a = {a}
b = {b}
'''
print (card)

Pakistan ZindaBad

In [98]:
a = "Pakitan ZindaBad"

print(a.format_map("a"))

Pakitan ZindaBad

In [104]:
a = "Pakistan ZindaBad" #shows the index of the letter but whatcomes first
print(a.index("Z"))

9

In [126]:
a = "PakistanZindaBad"
print(a.isalnum())

b="Pakistan ZindaBad"
print(b.isalnum())

True
False

In [129]:
a = "Paksitan ZindaBad"

print(a.isalpha())

b = "PakistanZindaBad"
print(b.isalpha())

False
True

In [135]:
a = "Pakistan ZindaBad"

print(a.isascii())

True

In [140]:
a = "Pakistan ZindaBad"
print(a.isdecimal())

False

In [144]:
a = "Pakistan ZindaBad" # id figit then true otherwise false
print(a.isdigit())

b = "31"
print(b.isdigit())

False
True

In [149]:
a = "Pakistan ZindaBad"
print(a.isidentifier())

b = "PakistanZindaBad"
print(b.isidentifier())

False
True

In [151]:
a = "pakistan" #if every letter is lower case then true
print (a.islower())

True

In [157]:
a = "09sheza" #if only number in a sentence then true
print (a.isnumeric())

b= "9"
print (b.isnumeric())

False
True

In [160]:
a = "Sheza Shams"
print(a.isprintable())

True

In [169]:
a = "Sheza Shams"
print(a.isspace())

False

In [172]:
a = "sheza Shams" # sentence case then true
print(a.istitle())
b = "Sheza Shams"
print(b.istitle())

False
True

In [175]:
a = "Sheza Shams" #only true if all letter uppercase
print(a.isupper())
b = "SHEZA SHAMS"
print(b.isupper())

False
True

In [191]:
a = "Sheza Shams" 
print(a.join("hi"))

hSheza Shamsi

In [217]:
a = "Sheza Shams"
print(a.ljust(10))

Sheza Shams

In [218]:
a = "Sheza Shams" # all transform into lowercase
print(a.lower())

sheza shams

In [223]:
a = "Sheza Shams" # all transform into lowercase
print(a.lstrip())

Sheza Shams

In [233]:
a = "abcdPakistan Zindabad" # removes the letters which are initials
print(a.removeprefix("abcd"))

Pakistan Zindabad

In [235]:
a = "Pakistan Zindabadabcd" # removes the mentioned letters which are in the last
print(a.removesuffix("abcd"))

Pakistan Zindabad

In [241]:
a = "Pakistan Zindabad Zindabad" # replace the word with another word whereever in the sentence
print(a.replace("Zindabad","hello"))

Pakistan hello hello

In [251]:
a = "Pakistan Zindabad" # find the index of the letter
print(a.rfind("Z"))

9

In [247]:
a = "Pakistan Zindabad" # find the index of the letter
print(a.rindex("d"))

16

In [259]:
a = "Pakistan Zindabad" 
print(a.rjust(12))

Pakistan Zindabad

In [264]:
a = "Pakistan Zindabad" #separate last occurance of the string
print(a.rpartition("a"))

('Pakistan Zindab', 'a', 'd')

In [265]:
a = "Sheza Shams"
print(a.rsplit())

['Sheza', 'Shams']

In [266]:
a= "Sheza Shams"
print(a.splitlines())

['Sheza Shams']

In [267]:
a= "Sheza Shams" #statement to check true or false
print(a.startswith("h"))

False

In [271]:
a= "Pakistan"
print(a.strip())

Pakistan

In [272]:
a= "Pakistan" #all letters case swaped with lower or upper
print(a.swapcase())

pAKISTAN

In [274]:
a= "pakistan" #title only capital letter first alphabet
print(a.title())

Pakistan

In [276]:
a= "pakistan" # all uppercase
print(a.upper())

PAKISTAN